*{
    background-color: rgb(189, 252, 201); ;
}

.cont {
    max-width: 600px;
    margin: 80px auto;
    padding: 30px;
    background-color: rgb(33, 33, 33);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial';

}

h1 {
    font-family: 'Verdana';
    font-size: 30px;
    text-align: center;

}

input {
    padding: 10px;
    font-size: 12px;
    width: 30%;
    border-radius: 6px;
    border: 1px solid black;
}

button {
    background-color: whitesmoke;
    padding: 10px 18px;
}